PORT=5000
BOT_NAME=Supreme MD Bot
OWNER_NUMBER=94742514900
PREFIX=.
DASHBOARD_PASS=chathura123
ADMIN_USER=admin
ADMIN_PASS=chathura123
JWT_SECRET=supreme_md_jwt_secret_change_me
PREMIUM_CODE=SUPREME2026
